@import url('https://fonts.googleapis.com/css?family=Poppins:400, 500, 700');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}


.navbar{
    padding: 0.8rem;
}

.navbar-nav li{
    padding-right: 20px;
}

.navlink{
    font-size: 1.1em !important;
}

.navbar-brand{
    font-size: 200%;
    text-shadow: 1px 1px 0.5px #000000;
}

.footlinks a{
    color: #d5d5d5;
    padding: 1.5rem;
}

.footlinks a:hover{
    color: #25CCF7;
}

.footbar{
    width: 75%;
    margin: auto;
}


.social a{
    font-size: 2.5em;
    padding: 3rem;
    text-shadow: 1px 1px 1px #000000;
}

.fa-facebook-square{
    color: #3b5998;
}

.fa-twitter{
    color: #00aced;
}

.fa-linkedin{
    color: #0e76a8;
}

.fa-github{
    color: #211F1F;
}

.fa-quora{
    color: #b92b27;
}

.fa-facebook-square:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-github:hover,
.fa-quora:hover{
    color: #d5d5d5
}

hr.light{
    border-top: 0.5px solid #576574;
}

footer{
    background-color: #2C3A47;
    color: #d5d5d5;
    padding-top: 1.25rem;

}

@media(max-width: 992px){
    .social a{
        font-size: 2.5em;
        padding: 2.5rem;
        text-shadow: 1px 1px 1px #000000;
    }
    .navbar-brand{
        font-size: 200%;
    }
    .footlinks a, p{
        font-size: 1em;
    }
    
}

@media(max-width: 768px){
    .social a{
        font-size: 1.75em;
        padding: 1.75rem;
        text-shadow: 1px 1px 1px #000000;
    }
    .navbar-brand{
        font-size: 175%;
    }
    .footlinks a, p{
        font-size: 0.75em;
    }
}

@media(max-width: 576px){
    .social a{
        font-size: 1.25em;
        padding: 1.25rem;
        text-shadow: 1px 1px 1px #000000;
    }
    .navbar-brand{
        font-size: 150%;
    }
    .footlinks a, p{
        font-size: 0.5em;
    }
}
